$basic-color: #ff611d;
$basic-border-color: #bcbcbc;
$text-color: #252525;
$text-sub-color: #a8a8a8;

.board-detail-bottom-reply-div {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;

  .board-detail-bottom-reply {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .board-detail-bottom-reply-left {
      display: flex;
      flex-direction: column;

      .board-detail-bottom-reply-left-top {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        .board-detail-reply-icon {
          transform: rotate(90deg);
          margin-right: 1rem;
        }

        img {
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 50%;
        }

        span {
          font-size: 1rem;
          font-weight: 500;
          margin-left: 1rem;
          display: flex;
          flex-direction: row;
          align-items: center;

          p {
            font-size: 0.75rem;
            color: #919191;
            margin-left: 0.5rem;
          }
        }
      }

      .board-detail-bottom-reply-content {
        font-size: 1rem;
        color: $text-color;
        margin: 0.5rem 0.5rem 0 5.275rem;
        word-break: break-all;
      }
    }

    .board-detail-reply-function-icon {
      color: $text-sub-color;
      margin-bottom: 1rem;
    }
  }

  .board-detail-bottom-reply-right {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.5rem;

    .board-detail-bottom-reply-right-heart {
      display: flex;
      flex-direction: row;

      .board-detail-reply-function-heart-icon {
        color: $basic-color;
        margin-right: 0.125rem;
      }

      p {
        color: $basic-color;
      }
    }
  }

  .board-detail-underline {
    background-color: $basic-border-color;
    height: 1px;
  }
}

.board-detail-mobile-bottom-reply-div {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;

  .board-detail-mobile-bottom-reply {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .board-detail-mobile-bottom-reply-left {
      display: flex;
      flex-direction: column;

      .board-detail-mobile-bottom-reply-left-top {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        .board-detail-mobile-reply-icon {
          transform: rotate(90deg);
          margin-right: 1rem;
        }

        img {
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 50%;
        }

        span {
          font-size: 1rem;
          font-weight: 500;
          margin-left: 1rem;
          display: flex;
          flex-direction: row;
          align-items: center;

          p {
            font-size: 0.75rem;
            color: #919191;
            margin-left: 0.5rem;
          }
        }
      }

      .board-detail-mobile-bottom-reply-content {
        font-size: 1rem;
        color: $text-color;
        margin: 0.5rem 0.5rem 0 5.275rem;
        word-break: break-all;
      }
    }

    .board-detail-mobile-reply-function-icon {
      color: $text-sub-color;
      margin-bottom: 1rem;
    }
  }

  .board-detail-mobile-bottom-reply-right {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.5rem;

    .board-detail-mobile-bottom-reply-right-heart {
      display: flex;
      flex-direction: row;

      .board-detail-mobile-reply-function-heart-icon {
        color: $basic-color;
        margin-right: 0.125rem;
      }

      p {
        color: $basic-color;
      }
    }
  }

  .board-detail-mobile-underline {
    background-color: $basic-border-color;
    height: 1px;
  }
}
