@import './../../assets/scss/abstracts/_mixins';
@import './../../assets/scss/abstracts/_variables_color';

$basic-color: #ff611d;
$basic-border-color: #bcbcbc;
$sub-color: #5a5a5a;

.board-main {
  background-color: #fff;
  margin: 0 auto;
  padding-top: 4.8rem;
  padding-bottom: 3.1875rem;
  max-width: 76.8rem;
  height: auto;
  min-height: 100vh;

  .board-top-div {
    display: flex;
    flex-direction: column;
    padding-top: 2.3125rem;

    .board-top-text-div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 4.0625rem;

      .board-school-name {
        font-size: 3.125rem;
        font-weight: 500;
        line-height: 4.375rem;
        color: $basic-color;
      }

      .board-select-category {
        width: 13.9375rem;
        height: 2.875rem;
        position: relative;
        top: 0.8rem;
        border: 1px solid $basic-border-color;
        color: $basic-border-color;
        padding: 0 0.5rem;
        border-radius: 5px;
      }
    }

    .board-lists-div {
      display: flex;
      justify-content: center;

      .board-lists {
        list-style: none;
        display: inherit;
        flex-direction: row;
        width: 90%;
        padding-top: 2.1875rem;
        justify-content: center;

        li {
          font-size: 1.25rem;
          cursor: pointer;
          width: 25%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-bottom: 0.9375rem;
          margin-bottom: 0.5rem;
        }

        .board-li.active {
          color: $basic-color;
          border-bottom: 3px solid $basic-color;
          z-index: 99;
        }

        .board-li {
          color: $basic-border-color;
        }
      }
    }
  }

  .board-bottom-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .board-table-div {
      width: 90%;
      display: flex;

      .board-table {
        width: 100%;

        th {
          font-size: 1.25rem;
          color: $sub-color;
          font-weight: 500;
          padding-bottom: 0.8rem;
        }

        tr {
          display: flex;
          justify-content: space-between;
          align-items: center;

          border-bottom: 1px solid $basic-border-color;
          width: 100%;
          height: 100%;
          min-height: 44px;

          &:hover {
            cursor: pointer;
          }
        }

        td {
          display: inline-block;
          text-align: center;
        }

        tbody {
          width: 100%;
        }

        th.board-title {
          width: 100%;
        }

        .post-information {
          @include flex-container(row, center, center);

          width: auto;
          height: 100%;
        }

        .board-writer {
          width: 6.75rem;
        }
        .board-write-date {
          width: 7rem;
        }
        .board-view-count {
          width: 5.4375rem;
        }
        .board-like-count {
          width: 5.4375rem;
        }

        .board-title {
          .best-cell {
            @include font-container(1.125rem, 1rem, $basic-color);

            border-left: 4px solid $basic-color;
            vertical-align: middle;
            padding: 0 1rem 0 1.3125rem;
            height: 44px;
            min-height: 2.75rem;
          }
        }

        .board-wrap {
          padding-left: 1.375rem;
        }
      }
    }
  }
}

.board-tablet-main {
  background-color: #fff;
  margin: 0 auto;
  padding-top: 4.8rem;
  max-width: 76.8rem;
  height: 100vh;

  .board-tablet-top-div {
    display: flex;
    flex-direction: column;
    padding-top: 2.3125rem;

    .board-tablet-top-text-div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 4.0625rem;

      .board-tablet-school-name {
        font-size: 3.125rem;
        font-weight: 500;
        line-height: 4.375rem;
        color: $basic-color;
      }

      .board-tablet-select-category {
        width: 13.9375rem;
        height: 2.875rem;
        position: relative;
        top: 0.8rem;
        border: 1px solid $basic-border-color;
        color: $basic-border-color;
        padding: 0 0.5rem;
        border-radius: 5px;
      }
    }

    .board-tablet-lists-div {
      display: flex;
      justify-content: center;

      .board-tablet-lists {
        list-style: none;
        display: inherit;
        flex-direction: row;
        width: 90%;
        padding-top: 2.1875rem;
        justify-content: center;

        li {
          font-size: 1.25rem;
          cursor: pointer;
          width: 25%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-bottom: 0.9375rem;
          margin-bottom: 0.5rem;
        }

        .board-tablet-li.active {
          color: $basic-color;
          border-bottom: 3px solid $basic-color;
          z-index: 99;
        }

        .board-tablet-li {
          color: $basic-border-color;
        }
      }
    }
  }

  .board-tablet-bottom-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .board-tablet-table-div {
      width: 90%;
      display: flex;

      .board-tablet-table {
        width: 100%;

        th {
          border: none;
          font-size: 0.75rem;
          color: $sub-color;
          font-weight: 500;
          padding-bottom: 0.8rem;
          border-bottom: 1px solid $basic-border-color;
        }

        td {
          border-bottom: 1px solid $basic-border-color;
          display: flex;
          font-size: 0.9rem;
          justify-content: center;
          align-items: center;
        }

        tr {
          display: flex;
          align-items: center;
        }

        tbody {
          width: 100%;
        }

        .board-tablet-title {
          width: 52%;
        }
        .board-tablet-writer {
          width: 12%;
        }
        .board-tablet-write-date {
          width: 12%;
        }
        .board-tablet-view-count {
          width: 12%;
        }
        .board-tablet-like-count {
          width: 12%;
        }
      }
    }
  }
}

.board-mobile-main {
  background-color: #fff;
  margin: 0 auto;
  padding-top: 4.8rem;
  max-width: 76.8rem;
  height: 100vh;

  .board-mobile-top-div {
    display: flex;
    flex-direction: column;
    padding-top: 2.3125rem;

    .board-mobile-top-text-div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 35px;

      .board-mobile-school-name {
        display: flex;

        span {
          font-size: 1.25rem;
          font-weight: 500;
          color: $basic-color;
        }
      }

      .board-mobile-select-div {
        display: flex;
        flex-direction: row;

        .board-mobile-select-category {
          width: 10rem;
          height: 2rem;
          margin-top: 0.8rem;
          border: 1px solid $basic-border-color;
          color: $basic-border-color;
          padding: 0 0.5rem;
          border-radius: 5px;
        }
      }
    }

    .board-mobile-lists-div {
      display: flex;
      justify-content: center;

      .board-mobile-lists {
        list-style: none;
        display: inherit;
        flex-direction: row;
        width: 90%;
        padding-top: 2.1875rem;
        justify-content: center;

        li {
          font-size: 0.75rem;
          cursor: pointer;
          width: 25%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-bottom: 0.9375rem;
          margin-bottom: 0.5rem;
        }

        .board-mobile-li.active {
          color: $basic-color;
          border-bottom: 3px solid $basic-color;
          z-index: 99;
        }

        .board-mobile-li {
          color: $basic-border-color;
        }
      }
    }
  }

  .board-mobile-bottom-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .board-mobile-write-button-div {
      display: flex;
      width: 90%;
      justify-content: flex-end;

      .board-mobile-write-button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: none;
        background-color: $basic-color;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
      }
    }
    .board-mobile-table-div {
      width: 90%;
      display: flex;
      flex-direction: column;

      .board-underline {
        background-color: $basic-border-color;
        position: relative;
        height: 1px;
        border: none;
      }

      span {
        padding: 0.5rem;
      }

      .board-mobile-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 0.5rem;

        .board-mobile-info-left {
          display: flex;
          flex-direction: row;

          p {
            font-size: 0.75rem;
            color: $basic-border-color;
          }
        }

        .board-mobile-info-right {
          p {
            font-size: 0.75rem;
            color: $basic-border-color;
          }
        }
      }
    }
  }
}
