@mixin flex-container($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin font-container($size, $height) {
  font-family: 'AppleSDGothicNeoM00';
  font-style: normal;
  font-weight: 400;
  font-size: $size;
  line-height: $height;
}

.signup-form {
  @include flex-container(column, center, start);
  margin-top: 21px;
  width: 100%;
  height: 100%;
  & > label {
    @include flex-container(column, center, start);
    width: 100%;

    @include font-container(1rem, 1.375rem);
    & > input {
      margin-bottom: 8px;
      width: 100%;
      height: 54px;
      border: 1px solid #bcbcbc;
      border-radius: 3px;
    }
    & > input[type='text'] {
      margin-bottom: 31px;
    }
  }

  .signup-checked-password {
    margin-bottom: 12px;
    & > span {
      margin-right: 18px;
      @include font-container(0.75rem, 1rem);
      color: #939393;

      & > img {
        margin-left: 6px;
      }
    }
  }

  & > button {
    margin-top: 12px;
    border: none;
    width: 100%;
    max-width: none;
    height: 54px;

    background: #b8b8b8;
    border-radius: 3px;

    @include font-container(1rem, 1.375rem);
    color: #ffffff;
  }
}
