@import './../../assets/scss/abstracts/_variables_color';
@import './../../assets/scss/abstracts/_mixins';

.signup-main {
  @include flex-container(column, space-between, start);
  margin: 120px auto 0px auto;
  padding: 44px 70px 65px 70px;
  border-radius: 15px;
  width: 100%;
  min-width: 280px;
  max-width: 635px;
  height: 819px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  & > h1 {
    @include font-container(2.5rem, 3.5rem, $subject-font-color);
    width: 100%;
    text-align: center;
  }

  .signup-progress {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr 0.5fr;
    grid-template-columns: 1fr 0.5fr 1fr 0.5fr 1fr;
    grid-row-gap: 12px;
    width: 100%;
    min-width: 200px;
    max-width: 496px;
    height: 78px;

    .proceess-img {
      width: 45px;
      height: 45px;
    }

    .proceess-bar {
      width: 110px;
    }

    .sentence-1 {
      @include font-container(1rem, 1.313rem, $basic-color);
      grid-column-start: 1;
    }

    .sentence-2 {
      @include font-container(1rem, 1.313rem, $sub-font-color);
      grid-column-start: 3;
    }

    .sentence-3 {
      @include font-container(1rem, 1.313rem, $sub-font-color);
      grid-column-start: 5;
    }
  }
}

@media screen and (max-width: 1040px) {
  .signup-main {
    margin: 75px auto 0px auto;
    padding: 105px 56px 132px 56px;
    width: 100vw;
    height: 100vh;

    .signup-progress {
      .proceess-bar {
        width: 48px;
      }
    }
  }
}
