@mixin flex-container($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin font-container($size, $height) {
  font-family: 'AppleSDGothicNeoM00';
  font-style: normal;
  font-weight: 400;
  font-size: $size;
  line-height: $height;
}

.signup-background {
  @include flex-container(column, center, center);
  width: 100vw;
  min-width: 280px;
  height: 100%;

  .signup-main {
    @include flex-container(column, center, flex-start);
    margin: 115px 0px;
    padding: 2.75rem 4.375rem 4.063rem 4.375rem;
    border-radius: 15px;
    width: 635px;
    min-width: 200px;
    height: 819px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    .signup-header {
      @include flex-container(column, center, center);
      width: 100%;

      & > h2 {
        margin-bottom: 47px;
        @include font-container(2.5rem, 3.5rem);
        color: #161616;
      }

      .signup-progress {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-rows: 1fr 0.5fr;
        grid-template-columns: 1fr 0.5fr 1fr 0.5fr 1fr;
        grid-row-gap: 12px;
        width: 100%;
        min-width: 200px;
        max-width: 496px;

        .proceess-img {
          width: 45px;
          height: 45px;
        }
        .proceess-bar {
          width: 110px;
        }
        .sentence-1 {
          grid-column-start: 1;
          @include font-container(1rem, 1.313rem);
          color: #ff6b2b;
        }
        .sentence-2 {
          grid-column-start: 3;
          @include font-container(1rem, 1.313rem);
          color: #939393;
        }
        .sentence-3 {
          grid-column-start: 5;
          @include font-container(1rem, 1.313rem);
          color: #939393;
        }
      }
    }

    & > h3 {
      margin-top: 49px;
      width: 100%;
      // max-width: 265px;
      height: 73px;
      @include font-container(1.625rem, 2.313rem);
      color: #161616;
    }

    & > label {
      margin: 46px 0px 53px 0px;
      width: 100%;
      @include font-container(1rem, 1.313rem);
      color: #484848;

      & > input {
        margin-right: 8px;
      }
    }

    .terms-conditions-wrap {
      border-top: 1px solid #d9d9d9;
      padding-top: 11px;
      width: 100%;
      .terms-wrap {
        @include flex-container(row, flex-start, center);
        margin-bottom: 22px;
        & > button {
          border: none;
          background: none;
        }

        & > p {
          margin-left: 7px;
          @include font-container(1rem, 1.375rem);
          color: #484848;

          & > span {
            margin-right: 1px;
          }
        }
      }
    }
    .caution-sentence {
      margin: 6px 0px 66px 0px;
      @include font-container(0.75rem, 1rem);
      color: #939393;
    }
    .signup-button-box {
      width: 100%;
      height: auto;

      & > button {
        border: none;
        width: 100%;
        max-width: 496px;
        height: 54px;

        background: #b8b8b8;
        border-radius: 3px;

        @include font-container(1rem, 1.375rem);
        color: #ffffff;
      }
    }
  }
}

@media screen and (max-width: 1040px) {
  .signup-background {
    background: white;
    height: 100vh;
    .signup-main {
      margin: 11.25rem 0px -4.063rem 0px;
      padding: 1vw 5vw 4.063rem 5vw;
      border: none;
      box-shadow: none;
      border-radius: 0px;
      width: 100vw;
      height: 100%;

      .signup-header .signup-progress {
        width: 100%;
        min-width: 200px;
        max-width: none;
        .proceess-bar {
          width: 100%;
          max-width: 110px;
        }
      }

      & > h3 {
        margin-top: 49px;
        width: 100%;
        height: 100%;
        @include font-container(1.625rem, 2.313rem);
        color: #161616;
      }

      & > label {
        margin: 46px 0px 53px 0px;
        width: 100%;
        @include font-container(1rem, 1.313rem);
        color: #484848;

        & > input {
          margin-right: 8px;
        }
      }

      .terms-wrap {
        margin-bottom: 0px;
        height: 44px;
      }
      .signup-button-box {
        width: 100%;
        height: 100%;

        & > button {
          border: none;
          width: 100%;
          max-width: none;
          height: 54px;

          background: #b8b8b8;
          border-radius: 3px;

          @include font-container(1rem, 1.375rem);
          color: #ffffff;
        }
      }
    }
  }
}
