@import './../../assets/scss/abstracts/_variables_color';
@import './../../assets/scss/abstracts/_mixins';
@import './../../assets/scss/components/buttons';

.notice-container {
  @include flex-container(column, flex-start, center);
  padding: 2.375rem 4rem 3.125rem 4rem;
  width: 100%;
  max-width: 1320px;
  height: auto;
  background-color: white;

  & > h1 {
    @include font-container(3.125rem, 4.375rem, $basic-color);

    margin-bottom: 1.375rem;
    width: 100%;
    text-align: left;
  }

  .notice-table-wrap {
    width: 100%;
    height: auto;
    min-height: 37.5rem;

    & > div {
      @include flex-container(column, space-evenly, center);

      width: 100%;
      height: 18.75rem;
      text-align: center;

      & > h3 {
        width: 100%;
      }

      & > span {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1040px) {
  .notice-container {
    padding: 7.0625rem 1.25rem 3.125rem 1.25rem;

    .notice-table-wrap {
      width: 100%;
      height: auto;
      min-height: auto;
    }
  }
}
