.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #ffffff;
  box-shadow: 15px 0px 45px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  padding-top: 75px;
  padding-left: 15px;
  padding-right: 15px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;

  ul {
    list-style-type: none;
    padding: 0;

    li {
      font-size: 1rem;
      padding: 10px 0;
    }
  }

  &.open {
    transform: translateX(0%);
  }
}
